@{
    ViewData["Title"] = "ABOUT US";
}
<h3>@ViewData["Title"]</h3>

<p>This is a simple project which makes use of HtmlAgility pack to scrap a website to get current Gold rate  in different cities.</p>
<br>
<br>
<h3>
    CREDITS
</h3>

<ul>
    <li>https://goodreturns.in</li>
    <li>https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app</li>
    <li> https://canvasjs.com/docs/charts/</li>
</ul>
<br />
<br />
<br />
<br />
<h4>Developed by: Chandrashekar Naik</h4>
